body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

body.dark {
  background: #303030;
  color: white;
}

h2 {
  margin: 8px 0 5px 0;
  font-size: 25px;
  font-weight: 600;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 350px;
  background-color: white;
  border-radius: 5px;
  padding: 20px 0px 0;
  margin: 5%;
  align-items: stretch;
  gap: 4px;
}

.card.dark {
  background: #333333;
}

.image_container,
.container {
  padding: 0 16px;
  box-sizing: border-box;
}

.card:hover {
  transform: scale(1.05);
}

#me_image {
  border-radius: 5px;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  color: #555555;
}

body.dark h4 {
  color: #bbbbbb;
}

h4,
p {
  margin: 4px 0 0 0;
  padding: 0;
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  font-size: 30px;
}

.tab {
  background-color: #ffffff;
  flex: 1 1 0;
  padding: 8px 12px;
  border: 0px;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  font-weight: 700;
}

.tab:hover {
  background-color: #f9f9f9;
}

.tab.active {
  background: linear-gradient(#ffffff, #f9f9f9);
  border-bottom: 3px solid purple;
}

body.dark .tab {
  color: white;
  background-color: #333333;
}

body.dark .tab.active {
  color: white;
  background: linear-gradient(#333333, #303030);
}

body.dark .tab:hover {
  background-color: #303030;
}

.info_container p {
  line-height: 1.35;
  margin-bottom: 0;
}